<div class="row">
  <div class="form-inline bg-info">
    <div class="form-group mb-2 bg-info">
      <h1>Cardapio</h1>

      <h2>

        <nav class="navbar-container d-inline-flex mt-2 mt-md-0 ms-md-auto">
        
        <a class="item-nav me-3 py-2 text-decoration-none" routerLinkActive="active" routerLink="/comidas" [routerLinkActiveOptions]="{exact: true}"
          >Comidas</a
        >
        <a class="item-nav me-3 py-2 text-decoration-none" routerLinkActive="active" routerLink="/bebidas"
          >Bebidas</a
        >
        <a class="item-nav me-3 py-2 text-decoration-none" routerLinkActive="active" routerLink="/porcoes"
          >Porções</a>

      </nav>
        
      </h2>
      </div>
      </div>
      </div>
      
      


